Repository kubernetes-sigs/cluster-api-provider-openstack, pull requests merged in 2025-06, with the labels that each got.

#2574 🌱 E2E: Update openstack cloud provider manifests
  test/e2e/data/ccm/cloud-controller-manager.yaml
Labels: size/S, cncf-cla: yes, approved, lgtm, ok-to-test

#2582 :bug: Add FlavorID to be set by openStackMachineSpecToOpenStackServerSpec
  controllers/openstackmachine_controller.go
  controllers/openstackmachine_controller_test.go
Labels: size/M, cncf-cla: yes, approved, lgtm, ok-to-test

#2552 🌱 E2E: Bump ORC to v2.2.0
  test/e2e/data/e2e_conf.yaml
  test/e2e/data/shared/openstack-resource-controller/metadata.yaml
  test/e2e/shared/openstack.go
  test/infrastructure/openstack-resource-controller/config/default/kustomization.yaml
Labels: size/M, cncf-cla: yes, approved, lgtm

#2583 🐛 Search by either port ID or name/network
  controllers/openstackserver_controller_test.go
  pkg/cloud/services/networking/port.go
Labels: size/S, cncf-cla: yes, approved, lgtm, ok-to-test

#2599 🌱 Bump go to 1.23.10
  Makefile
  netlify.toml
Labels: cncf-cla: yes, approved, size/XS, lgtm

#2602 🌱 Update templates
  kustomize/v1beta1/default/cluster-template.yaml
  templates/cluster-template-flatcar-sysext.yaml
  templates/cluster-template-flatcar.yaml
  templates/cluster-template-without-lb.yaml
  templates/cluster-template.yaml
  templates/clusterclass-dev-test.yaml
Labels: size/S, cncf-cla: yes, approved, lgtm
